<!DOCTYPE html>
<html lang="ja">
<head>
    <title>患者苗字検索</title>
</head>
<body>
<h1>患者苗字検索</h1>

<form method="GET" action="{% url 'doctor_kensaku' %}">
    <input type="text" name="query" placeholder="名字で検索">
    <button type="submit">検索</button>
</form>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<table border="1">
    <tr>
        <th>患者ID</th>
        <th>患者氏名</th>
        <th>保険証記号番号</th>
        <th>有効期限</th>
        <th></th>
    </tr>
    {% for patient in patients %}
        <tr>
            <td>{{ patient.patid }}</td>
            <td>{{ patient.patlname }}{{ patient.patfname }}</td>
            <td>{{ patient.hokenmei }}</td>
            <td>{{ patient.hokenexp }}</td>
            <td>
                <form method="GET" action="{% url 'treatment_list' patient.patid %}">
                    <button type="submit">処置画面</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>